---
title: Elixir-lang Jobs Home Page
---

.index-content
  .value-props
    h1.main-heading
      | We're working on creating a 
      em great 
      a href='http://elixir-lang.org' target='_blank' Elixir
      |  job board.
    h2.secondary-heading Full-time, part-time, remote, on-site. Sign up to get notified of new and interesting jobs from companies who are doing amazing things with Elixir and Phoenix.

  .small-6.columns.row
    = partial 'partials/email_form'
